<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Request Header Parser</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <h1>Request Header Parser by Justin Thompson</h1>
    <div>
        <b>returns the IP address, language and software of browser</b>
      <h2>Example use</h2>
     <b>visit the page below </b><br/>
      <span class="links">https://request-header-parser-ethicmeta.c9users.io/whoami</span><br/>
      <b>output:</b> <br/>
      <span class="links">{"ipaddress":"207.178.112.5","language":"en-US","software":"Windows NT 10.0; WOW64; rv:52.0"}</span>
    </div>
  </body>
</html>
